<div class="container">
  <header class="jumbotron">
    <h3 class="header">All Users</h3>
    <div *ngIf="users && users.length > 0">
      <ul>
        <li *ngFor="let user of filteredUsers">
          <p><strong>Username:</strong> {{ user.username }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Role:</strong> {{ user.role }}</p>
          <p><strong>ID: </strong>{{ user._id }}</p>

          <div *ngIf="user.role !== 'admin'" class="button-group">
            <button class="edit-button" (click)="openEditModal(user)">
              Edit
            </button>
            <button class="delete-button" (click)="onDelete(user._id)">
              Delete
            </button>
          </div>

          <hr />
        </li>
      </ul>
    </div>
  </header>
</div>

<div *ngIf="isModalOpen" class="modal-overlay">
  <div class="modal-content">
    <h3>Edit User</h3>
    <form (ngSubmit)="onSubmitEdit()">
      <label for="newEmail">New Email:</label>
      <input
        type="email"
        id="newEmail"
        [(ngModel)]="selectedUser.email"
        name="newEmail"
        required
      />
      <button type="submit">Submit</button>
      <button type="button" (click)="closeEditModal()">Cancel</button>
    </form>
  </div>
</div>
